[submodule "tests/vendors/googletest"]
	path = tests/vendors/googletest
	url = https://github.com/google/googletest.git
[submodule "vendors/memplumber"]
	path = vendors/memplumber
	url = https://github.com/threezinedine/MemPlumber.git
